@page "{id}"
@model DeleteModel

@section Header {
    <h3 class="mb-0">@Model.GetTitle(ViewContext.HttpContext, T)</h3>
}

<partial name="@Models.DeletePageDescriptor.DeleteConfirmationPartialViewName" model="Model" />
