@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage
@implements ITableHelpers

@functions {
    private static (bool, bool, string?, bool) GetOrderColumns(string columnName, (string, bool)[] currentOrderColumns)
    {
        if (currentOrderColumns.Length > 0)
        {
            var (orderColumnName, orderColumnDescending) = currentOrderColumns[0];

            if (columnName.Equals(orderColumnName, StringComparison.OrdinalIgnoreCase))
            {
                if (orderColumnDescending)
                    return (true, orderColumnDescending, null, default);

                return (true, orderColumnDescending, columnName, true);
            }
        }

        return (false, default, columnName, false);
    }

    public void ColumnHeader(string name, string columnName, (string ColumnName, bool Descending)[] currentOrderColumns, LocalizedHtmlString title,
        string ascendingIconClassName, string descendingIconClassName)
    {
        var (isCurrentOrderColumn, currentOrderColumnDescending, orderColumnName, orderColumnDescending) = GetOrderColumns(columnName, currentOrderColumns);

        <div class="column-header">
            <button class="btn btn-link" type="submit" name="@(orderColumnName != null ? name : null)" value="@(orderColumnName != null ? QueryableHelper.ComposeOrderColumn(orderColumnName, orderColumnDescending) : null)">
                @title
            </button>
            @if (isCurrentOrderColumn)
            {
                <i class="fa @(currentOrderColumnDescending ? descendingIconClassName : ascendingIconClassName) ml-1" aria-hidden="true"></i>
            }
        </div>
    }
}
