@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@T["Error"]</title>
</head>
<body>
    <h2>
        @T["Sorry, an unexpected error occurred while processing your request."]
    </h2>
</body>
</html>
