@model WebApp.UI.Areas.Dashboard.Models.SingleValueDashboardPageModel<ListSettingsQuery>

<div class="card">
    <div class="card-body">
        <vc:settings-table query="@Model.Value" />
    </div>
</div>
