@model WebApp.UI.Models.CardPageModel

@section Header {
    <h3 class="mb-0">@Model.Layout.Title</h3>
}

<p class="lead mb-0">
    <strong>@T["You do not have access to this resource."]</strong>
</p>

@section Footer {
    <div class="text-center">
        <a asp-route="@WebApp.UI.Areas.Dashboard.DashboardRoutes.OverviewRouteName">@T["Back to Dashboard"]</a>
    </div>
}
