.table.data-table {
  border: 0;

  .table-header-row, .table-footer-row {
    border-color: transparent;

    th, td {
      border-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .column-header-row {
    background-color: $table-dark-bg;
    color: $light;

    .title {
      font-weight: $font-weight-bold;
    }

    a.title {
      padding: 0;
      vertical-align: baseline;
      color: $light;
    }
  }

  .column-filter-row {
    background-color: theme-color-level('secondary', $table-bg-level);
  }

  .content-row {
    &:hover {
      .control-column {
        opacity: 1;
        transition: opacity ease-in 0.5s;
      }
    }

    .control-column {
      opacity: 0;
      width: 4.5rem;
      white-space: nowrap;
      text-align: center;

      .btn.btn-sm {
        padding: 0.25rem;
        line-height: 0.75rem;
      }
    }
  }
}
