.bs-callout {
  padding: $padding-base-vertical * 2.5;
  margin: $padding-base-vertical * 2.5 0;
  border: 0 solid;
  border-left-width: 5px;
  border-radius: $border-radius-small;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: $padding-small-vertical;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: $border-radius-small;
}

.bs-callout + .bs-callout {
  margin-top: -$padding-small-vertical;
}

.bs-callout-default {
  border-left-color: darken($gray-lighter, 13.2%);
}

.bs-callout-default h4 {
  color: darken($gray-lighter, 13.2%);
}

.bs-callout-primary {
  border-left-color: $brand-primary;
}

.bs-callout-primary h4 {
  color: $brand-primary;
}

.bs-callout-success {
  border-left-color: $state-success-bg;
}

.bs-callout-success h4 {
  color: $state-success-bg;
}

.bs-callout-danger {
  border-left-color: $state-danger-bg;
}

.bs-callout-danger h4 {
  color: $state-danger-bg;
}

.bs-callout-warning {
  border-left-color: $state-warning-bg;
}

.bs-callout-warning h4 {
  color: $state-warning-bg;
}

.bs-callout-info {
  border-left-color: $state-info-bg;
}

.bs-callout-info h4 {
  color: $state-info-bg;
}
