html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding-top: 70px;
}

/* Common */

/* http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width */
.float-fill-width {
  overflow: hidden !important;
}

.push-left {
  padding-right: 24px !important;
}

.push-right {
  padding-left: 24px !important;
}

.text-big {
  font-size: 150% !important;
}

.text-top {
  vertical-align: top !important;
}

.text-middle {
  vertical-align: middle !important;
}

.text-bottom {
  vertical-align: bottom !important;
}

.vert-align-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.vert-align {
  display: table-cell;
}

.inverse {
  background-color: $well-bg;
}

.app-title {
  color: #fff;
  font-variant: small-caps;
  font-size: 130%;
  font-family: Tahoma, Geneva, sans-serif;
}

/* Ajax Loading */

.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.33) url('../images/loading.gif') 50% 50% no-repeat;
}

.loading .overlay {
  display: block;
}

/* Thumbnails */

.img-thumbnail.center-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Validation */

div.validation-summary-errors > ul {
  list-style-type: none;
  padding: 0;
}

div.validation-summary-errors,
.field-validation-error {
  font-size: $font-size-small;
  color: $brand-danger;
}

/* Forms */

form.antixss-helper {
  display: inline;
}

form.antixss-helper > button[type="submit"] {
  padding: 0;
}

.form-horizontal .form-text {
  padding-top: 9px;
}
