#home-jumbo-wrapper {
  width: 70.175%;
  margin: 0 auto;
  position: relative;
}

#home-jumbo-wrapper:after {
  padding-top: 43.625%;
  display: block;
  content: '';
}

#home-jumbo-wrapper .jumbotron {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
