/* make sidebar nav vertical */
@media (min-width: $screen-sm-min) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .sidebar-nav .navbar ul {
    float: none;
  }

  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }

  .sidebar-nav .navbar li a {
    padding-top: $padding-base-horizontal;
    padding-bottom: $padding-base-horizontal;
  }
}
