@page
@model IndexModel

@using System.Security.Claims

@{
    var user = ViewContext.HttpContext.User;
    var userName = user.GetFirstName() ?? user.Identity.Name;
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <p class="lead">
                    @T["Hi, {0:D}!", @userName]
                </p>

                <p>
                    <i class="fa fa-calendar" aria-hidden="true"></i> @T["Today is {0:D}.", Model.UtcNow]
                    <br />
                    <i class="fa fa-clock-o" aria-hidden="true"></i> @T["The time is {0:T} (GMT).", Model.UtcNow]
                    <hr />
                    @T["{0} hour is left until midnight.", Plural.From("{0} hours are left until midnight.", (int)Model.TimeToMidnight.TotalHours)]
                </p>
            </div>
        </div>
    </div>
</div>
