@model WebApp.UI.Areas.Dashboard.Models.Account.ChangePasswordModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@T["Change Password"]</h3>
    </div>
    <div class="panel-body">
@if (Model.Success == true)
{
        <p class="text-info">
            @T["Your password has been successfully changed."]
        </p>
}
else if (Model.Success == false)
{
        <p class="text-danger">
            @T["Your password could not be changed."]
        </p>
}    

        <form method="post" class="form-horizontal" role="form">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4" asp-validation-summary="ModelOnly"></div>
            </div>

            <div class="row form-group">
                <label asp-for="CurrentPassword" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    <input type="password" asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword"></span>
                </div>
            </div>

            <div class="row form-group">
                <label asp-for="NewPassword" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    <input type="password" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
            </div>

            <div class="row form-group">
                <label asp-for="ConfirmPassword" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">@T["Change password"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section ScriptsBody {
    @await Html.PartialAsync("Partials/_ValidationScripts")
}
