.input-group-text {
  i.fa {
    width: $spacer;
    text-align: center;
  }
}

.form-group label {
  font-weight: $font-weight-bold;
}

// removing outline from readonly plain text form controls

.form-control-plaintext:focus {
  outline: none;
}

// MVC validation

.validation-summary-errors {
  @extend .alert, .alert-danger;

  ul {
    margin-bottom: 0;
    list-style: none;
    padding: 0;
  }
}
