@section Metas {
    <!-- TODO -->
    <meta name="description" content="A foundation for building robust ASP.NET Core applications." />
    <meta name="keywords" content="asp.net core" />
    <meta name="robots" content="index,nofollow" />
}

<div id="home-jumbo-wrapper">
    <div class="jumbotron">
        <div class="vert-align-wrapper">
            <div class="vert-align text-center text-middle">
                <h1>
                    ASP.NET Skeleton
                </h1>
            </div>
        </div>
    </div>
</div>
