@model Models.Layout.DashboardPageLayoutModel

@{
    var applicationUrl = Model.Footer.GetApplicationUrl?.Invoke(Url) ?? DefaultApplicationUrl;
}

<footer class="c-footer">
    <div>
@if (applicationUrl != null)
{
        <a href="@applicationUrl">@{ RenderApplicationTitle(); }</a>
}
else
{
    RenderApplicationTitle();
}
        @Model.Footer.Copyright
    </div>
    <div class="ml-auto">Powered by&nbsp;<a href="https://dotnet.microsoft.com/">.NET</a></div>
</footer>

@functions {
    void RenderApplicationTitle()
    {
        <text>@Model.ApplicationName v@(Model.ApplicationVersion)</text>
    }
}

@functions {
    private const string? DefaultApplicationUrl = "https://github.com/adams85/aspnetskeleton2";
}
