@using Karambolo.Common
@using WebApp.Service.Mailing.Users
@inherits WebApp.Service.Template<PasswordResetMailModel>

@{
    var url = UriUtils.BuildUrl(new[] { GetUIBaseUrl(), "Account/SetPassword" }, new { u = Model.UserName, v = Model.VerificationToken });
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Password Reset</title>
</head>
<body>
    <h4>[THIS IS AN AUTOMATED MESSAGE - PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL]</h4>
    <p>
        Dear @(Model.Name ?? Model.UserName),
    </p>
    <p>
        Resetting the password of your account has been requested.
    </p>
    <p>
        In order to specify a new password, please visit the link below before @FormatDateTime(Model.VerificationTokenExpirationDate)<br />
        <a href="@url">@url</a>
    </p>
    <p>
        Best regards,<br />
        <!-- TODO -->
        Support
    </p>
</body>
</html>
